<?php

$connection = 'local';

$GLOBAL_SETTINGS = array(
    'global'    =>  array(
        'site_href' =>  '',
        'password'  =>  '...'
    ),
    'local'     =>  array(
        'hostname'      =>  '',
        'database'      =>  '',
        'username'      =>  '',
        'password'      =>  '',
        'port'          =>  3306,
    ),
    'sweb'      =>  array(
        'hostname'      =>  '',
        'database'      =>  '',
        'username'      =>  '',
        'password'      =>  '',
        'port'          =>  3306,
    )
);

$settings = $GLOBAL_SETTINGS[$connection];

$dsl = "mysql:host={$settings['hostname']};port={$settings['port']};dbname={$settings['database']}";

// подключаемся к БД
try {
    $dbh = new \PDO($dsl, $settings['username'], $settings['password']);
    $dbh->setAttribute(\PDO::ATTR_ERRMODE, \PDO::ERRMODE_EXCEPTION);
    $dbh->setAttribute(\PDO::ATTR_DEFAULT_FETCH_MODE, \PDO::FETCH_ASSOC);
} catch (\PDOException $e) {
    die ($e->getMessage());
}
